@layer base, daisy-fix, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);

@import "./daisy.css";

/* fix conflict between daisyui and starlight */
@layer daisy-fix {
  .sl-markdown-content ul:not(:where(.not-content *)) {
    list-style-type: disc;
    padding-inline-start: 1rem;
    margin-bottom: 1em;
  }

  .sl-markdown-content ol:not(:where(.not-content *)) {
    list-style-type: decimal;
    padding-inline-start: 1rem;
    margin-bottom: 1em;
  }
}

/* @theme {
  --color-accent-50: #fde6d9;
  --color-accent-100: #fdd0c1;
  --color-accent-200: #fdb3a7;
  --color-accent-300: #fca08d;
  --color-accent-400: #fb8e73;
  --color-accent-500: #fa7b59;
  --color-accent-600: #a60a00;
  --color-accent-700: #7d0800;
  --color-accent-800: #6b0700;
  --color-accent-900: #640300;
  --color-accent-950: #450c06;

  --color-gray-100: #f8f5f6;
  --color-gray-200: #f1eced;
  --color-gray-300: #c6c0c1;
  --color-gray-400: #94888a;
  --color-gray-500: #605557;
  --color-gray-700: #3f3537;
  --color-gray-800: #2d2426;
  --color-gray-900: #1b1718;
} */
