.da-danmaku {
  font-size: inherit;
  color: var(--color);
}

.da-danmaku-top {
  /* placeholder */
}

.da-danmaku-bottom {
  /* placeholder */
}

.da-danmaku-ltr {
  /* placeholder */
}

.da-danmaku-rtl {
  /* placeholder */
}

.da-danmaku-text-shadow {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0px 2px 4px rgba(0, 0, 0, 0.5);
}
