name: Release Extension

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      target_tag:
        description: 'Tag to release'
        required: false
        type: string

jobs:
  call-build:
    uses: ./.github/workflows/build-extension.yml
    with:
      ref: ${{ inputs.target_tag || github.ref }}
      version_suffix: ''
    secrets: inherit

  publish-release:
    needs: call-build
    runs-on: ubuntu-latest
    permissions:
      contents: write # required by ncipollo/release-action@v1
    if: >-
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) ||
      (github.event_name == 'workflow_dispatch' && inputs.target_tag != '')
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: package-files
          path: packages

      - name: Publish Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "packages/*"
          tag: ${{ inputs.target_tag || github.ref_name }}
          generateReleaseNotes: true
          makeLatest: true
          draft: true

  publish-chrome:
    needs: call-build
    runs-on: ubuntu-latest
    environment: chrome-web-store-publish
    if: >-
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) ||
      (github.event_name == 'workflow_dispatch' && inputs.target_tag != '')
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: package-files
          path: packages

      - name: Publish to Chrome Web Store
        uses: mnao305/chrome-extension-upload@v5.0.0
        with:
          file-path: "packages/*chrome.zip"
          extension-id: ${{ vars.EXTENSION_ID }}
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          glob: true
          publish: false

  publish-firefox:
    needs: call-build
    runs-on: ubuntu-latest
    environment: firefox-addon-publish
    if: >-
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')) ||
      (github.event_name == 'workflow_dispatch' && inputs.target_tag != '')
    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: package-files
          path: packages

      - uses: wdzeng/firefox-addon@v1
        name: Upload to Mozilla Add-ons
        with:
          addon-guid: ${{ vars.ADDON_ID }}
          xpi-path: "packages/*firefox.zip"
          self-hosted: false
          jwt-issuer: ${{ secrets.FIREFOX_JWT_ISSUER }}
          jwt-secret: ${{ secrets.FIREFOX_JWT_SECRET }}
          compatibility: firefox,android